/*-- scss:defaults --*/

// fonts
$mainFont: "Atkinson Hyperlegible";
$headingFont: "Atkinson Hyperlegible";
$font-family-sans-serif: "Atkinson Hyperlegible";
$presentation-heading-font: "Atkinson Hyperlegible";
